<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-nav-bar>
  <ion-nav-back-button class="button-icon">
    <i class="ion-arrow-left-c"></i> Back!
  </ion-nav-back-button>
</ion-nav-bar>


<ion-view title="pet.title">
  <ion-content has-header="true" padding="true">
    <div class='list card'>
      <div class="item item-text-wrap">
        <h2>{{pet.title}}</h2>
        <p>from {{pet.provider}}</p>
      </div>

      <div class='item item-image'>
        <img src="{{pet.thumbnail}}">
        <a ng-click="play(pet.url)" class='play-button'>
          <i class="icon ion-ios7-play"></i>
        </a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item calm"  ng-click="shareTwitter(pet)">
          <i class="icon ion-social-twitter"></i>
          Tweet
        </a>
        <a class="tab-item positive" ng-click="shareFacebook(pet)">
          <i class="icon ion-social-facebook"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
